@{
    ViewData["Title"] = "Home Page";
}
@model Product

<div class="product-card">
            <img src="https://a.allegroimg.com/s1024/0cecb9/04901dee433194d3b05c34ada296" >
            <a style="color:#000" href ="product/index/@Model.Id">@Model.Name</a>
            <p class="product__info">@Model.Cost</p>
            <div class = "basket">
                <a  style="color:#000" href="#">Добавить в корзину</a>
            </div>
            <div class = "basket">
                <a  style="color:#000" href="https://localhost:7278/">Продолжить покупки</a>
            </div>
        </div>
