@{
    ViewData["Title"] = "Home Page";
}
@model Product

<div class="product-card">
            <img src="@Model.Imeg" >
            <a style="color:#000" href ="product/index/@Model.Id">@Model.Name</a>
            <p class="product__info">@Model.Cost</p>
            <div class = "basket">
                <a  style="color:#000" href="#">Добавить в корзину</a>
            </div>
            <div class = "basket">
                <a  style="color:#000" href="/home/index">Продолжить покупки</a>
            </div>
        </div>
